body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(background.jpeg);
}


.header h1{
    color:#4f4a4a;
    font-family: Helvetica;
    font-size: 30px;
    padding-left: 80px;
}
.header h4{
    color:#4f4a4a;
    font-family: Helvetica;
    padding-left: 80px;
}

.menu ul{
    float:right;
    margin-top: 25px;
}

.menu ul li{
    display: inline-block;
}


.menu ul li a{
    font-family: Helvetica;
    color: #fff;
    padding: 5px 25px ;
    border: 1px solid transparent;
}

.menu a:hover {
    background-color: grey;
    color:black;
}

.menu a.home{
    background-color:black;
    color:white;
}


.content {
    position:absolute;
    opacity: 0.6;
    top: 20%;
    background-image: url(background.jpeg);
}


.text {
    font-family: Helvetica;
    top:20%;
    position:absolute;
    margin: 0 0 0 100px;
    padding: 20px 0 0 20px;
    font-size: 20px;
    color: white;
    
}


.text a:hover {
    background-color: grey;
    color:black;
}

.footer {
    font-family: Helvetica;
    position:absolute;
    color:white;
    padding: 0 20px 0 0;
    bottom: 0;
    right:0;
}



.footer a{
    color:White;
}
